<!doctype html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ALLY</title>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css">
    </head>

    <body>
        <div class="row">
            <div class="large-12 columns">
                <h1>ALLY</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="large-12 columns">
                <div class="callout">
                    <h3>Share your picture in front of the ALLY sign!</h3>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="large-12 columns">
                <label for='take-picture'>take a selfie</label>
                <input type="file" id="take-picture" accept="image/*">
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h2>FAQ</h2>
                <p><em>What's an ALLY?</em></p>
                <p>From <a href="https://en.wikipedia.org/wiki/Straight_ally">Wikipedia</a>: A straight ally or heterosexual ally is a heterosexual and/or cisgender person who supports equal civil rights, gender equality, LGBT social movements, and challenges homophobia, biphobia and transphobia.</p>
                <p><em>Why did you make this sign?</em></p>
                <p>We made this sign as one way to show our support for LGBT people after the Pulse nightclub shooting.</p>
            </div>
        </div>
    </body>
</html>